.card_actions {
  padding: 14px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card_actions_post {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 70px;
  position: relative;
  z-index: 1;
}

.likes_counter {
  position: relative;
  z-index: 1;
}

.open_comments {
  position: relative;
  z-index: 1;
}


.dropdown {
  position: absolute;
  z-index: 2;
  top: 22px;
  right: 18px;
}

@media (min-width:1024px) {

  .card_actions {
    padding: 14px 0;
    position: relative;
    z-index: 1;
  }

  .card_actions_post {
    display: none;
  }

  .open_comments {
    display: none;
  }

  .likes_counter {
    margin-left: 24px;
    position: relative;
    z-index: 2;
  }

  .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    position: relative;
    z-index: 2;
    top: 0;
    right: 0;
  }
}
